## 분류

### KNN 알고리즘

In [ ]:
'''
# KNN (K-Nearest_Keighbors): K 개의 가까운 이웃



'''

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd

In [2]:
df.info()

NameError: name 'df' is not defined

In [ ]:
# 데이터 전처리
# NaN이 너무 많은 deck열, 중복되는 embark_town 열 삭제
rdf = df.drop(['deck', 'embark_town'], axis=1)
rdf.info()

In [ ]:
rdf.columns.values

In [1]:
# age열에서 NaN인 행을 삭제(복습 할 때는 평균값으로 치환해서 수행해보세요.)
rdf = rdf.dropna(subset=['age'],how='any',axis=0)
len(rdf)

NameError: name 'rdf' is not defined

In [ ]:
# embarked 열의 NaN 값을 embarked 에서 가장 많이 나온 도시값으로 치환
freq = rdf['embarked'].value_counts(dropna=True).idxmax()
freq

In [ ]:
rdf.describe(include='all')

In [ ]:
# 치환 
rdf['embarked'].fillna(freq,inplace=True)

In [ ]:
rdf.info()

In [ ]:
# 분석에 사용할 속성(설명변수) 선택

ndf = rdf[['survived', 'pclass', 'sex','age','sibsp','parch','embarked']]
ndf.head()

In [ ]:
# one-hot encoding
onehot_sex = pd.get_dummies(ndf['sex'])
ndf = pd.concat([ndf, onehot_sex], axis=1)
ndf.head()

In [ ]:
onehot_embarked = pd.get_dummies(ndf['embarked'])

In [ ]:
# 독립변수(설명변수) X / 종속변수(목적변수)

X = ndf[['pclass', 'age', 'sibsp', 'parch', 'female', 'male', 'embarked_C', 'embarked_Q', 'embarked_S']]
y = ndf['survived']

In [ ]:
# 설명변수를 정규화
from sklearn.preprocessing import StandardScaler

X = StandardScaler().git(X).transform(X)
X.shape

In [ ]:
# 훈련용 데이터셋 / 테스트용 데이터셋 구분

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

print('train data shape :', X_train.shape)
print('test data shape :', X_test.shape)

In [ ]:
# KNN 분류
from sklearn.neighbors import KNeighborsClassifier

# K 이웃을 5으로 임의로 설정
knn = KNeighborsClassifier(n_neighbors=5) # 중복변수떄문에 neighbors 설정숫자값이 중요

# train data로 학습
knn.fit(X_train, y_train)

# test data로 클래스 예측 (분류)
y_pred = knn.predict(X_test)
y_pred[:10]

In [ ]:
knn_matrix = cunfusion_matrix(y_test,y_pred)
knn_matrix

In [ ]:
# 평가 지표 계산
from sklearn.metrics import classification_report
knn_report = classification_report(y_test, y_pred)
print(knn_report)

## SVM 알고리즘

In [ ]:
'''
# SVM (Supprot Vector Machine)
: 설명변수의 열 벡터는 각각 고유의 축을 갖는 벡터 공간을 만들 수 있고, 분석 대상이 되는 개별 관측값을 모든 속성 (열 벡터)에 
관한 값을 해당 축의 좌표로 표시하여 벡터 공간에서의 위치로 나타내는 방법 
: 만약 속성이 2개 존재하는 데이터셋이라면 2차원 평면공간, 3개 라면 3차원공간에, 4개 이상이라면 고차원 벡터 공간 좌표를 사용
할수 있다.

# 학습 방법 : 벡터 공간에 위치한 훈련 데이터의 좌표와 각 데이터가 어떤 분류값을 가져야 하는지 레이블을 입력 받아서 학습하는 형태
'''

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# age열에서 NaN인 행을 삭제(복습 할 때는 평균값으로 치환해서 수행해보세요.)
rdf = rdf.dropna(subset=['age'],how='any',axis=0)
len(rdf)

In [ ]:
# 분석에 사용할 속성(설명변수) 선택

ndf = rdf[['survived', 'pclass', 'sex','age','sibsp','parch','embarked']]
ndf.head()

In [ ]:
# one-hot encoding
onehot_sex = pd.get_dummies(ndf['sex'])
ndf = pd.concat([ndf, onehot_sex], axis=1)
ndf.head()

In [ ]:
# one-hot encoding
onehot_sex = pd.get_dummies(ndf['sex'])
ndf = pd.concat([ndf, onehot_sex], axis=1)
ndf.head()

In [ ]:
# 설명변수를 정규화
from sklearn.preprocessing import StandardScaler

X = StandardScaler().git(X).transform(X)
X.shape

In [ ]:
# 훈련용 데이터셋 / 테스트용 데이터셋 구분

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

print('train data shape :', X_train.shape)
print('test data shape :', X_test.shape)

In [ ]:
# SVM 분류 모형 학습 / 예측 / 평가
from sklearn.svm import SVC


# kernel : 데이터를 벡터 공간으로 매핑해주는 함수 option
# rbf(radial basics function) | Linear | Polynimal | Sigmoid ...
svm_model = SVC(kernel='rbf')

svm_model.fit(X_train, y_train)

In [ ]:
y_pred = svm_model.predict(X_test)
print(y_pred[:10])

print('---------------------------------')
print(y_test.values[:10])

In [ ]:
# 모델 평가 / 검증
from sklearn.metrics import confusion_matrix

svm_matrix = confusion_matrix(y_test, y_pred)
svm_matrix

In [ ]:
# 평가지표 
from sklearn.metrics import classfication_report
svm_report = classfication_report(y_test, y_pred)
print(svm_report)

## Decision Tree (결정트리)

In [5]:
import pandas as pd
import numpy as np

In [18]:
# 데이터 로딩
uci_data = 'https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data'

df = pd.read_csv(uci_data, header=None)
df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [ ]:
'''
# dataset decribe
샘플 id | 암세포와 조직의 크기와 모양 등 종양 특성을 나타내는 열 9개 | 악성 종양 여부 열 (2: 양성, 4: 악성)

'''

In [19]:
# 데이터 탐색
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       699 non-null    int64
 1   1       699 non-null    int64
 2   2       699 non-null    int64
 3   3       699 non-null    int64
 4   4       699 non-null    int64
 5   5       699 non-null    int64
 6   6       699 non-null    object
 7   7       699 non-null    int64
 8   8       699 non-null    int64
 9   9       699 non-null    int64
 10  10      699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

In [20]:
# 컬럼 이름 지정
df.columns = ['id','clump','cell_size','cell_shape','adhesion','epithlial',
              'bare_nucleoli','chromatin','normal_nucleoli','mitoss','class']

df.head()

,id,clump,cell_size,cell_shape,adhesion,epithlial,bare_nucleoli,chromatin,normal_nucleoli,mitoss,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [21]:
# 요약 정보 확인
df.describe()

,id,clump,cell_size,cell_shape,adhesion,epithlial,chromatin,normal_nucleoli,mitoss,class
count,6.990000e+02,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,1.071704e+06,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,6.170957e+05,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,6.163400e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.706885e+05,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171710e+06,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238298e+06,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [23]:
# bare_nucleoli 열의 특이한 데이터를 확인
df['bare_nucleoli'].unique()

array(['1', '10', '2', '4', '3', '9', '7', '?', '5', '8', '6'],
      dtype=object)

In [27]:
# 데이터 전처리  # replace: 대체 # np.nan : null로 값을 비움
# ? -> NaN -> NaN 삭제 -> object to int
df['bare_nucleoli'].replace('?', np.nan, inplace=True)
df.dropna(subset =['bare_nucleoli'], axis=0, inplace=True)
df['bare_nucleoli'] = df['bare_nucleoli'].astype('int64')

In [28]:
df.describe()

,id,clump,cell_size,cell_shape,adhesion,epithlial,bare_nucleoli,chromatin,normal_nucleoli,mitoss,class
count,6.830000e+02,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000
mean,1.076720e+06,4.442167,3.150805,3.215227,2.830161,3.234261,3.544656,3.445095,2.869693,1.603221,2.699854
std,6.206440e+05,2.820761,3.065145,2.988581,2.864562,2.223085,3.643857,2.449697,3.052666,1.732674,0.954592
min,6.337500e+04,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,8.776170e+05,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,1.171795e+06,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000
75%,1.238705e+06,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000,4.000000
max,1.345435e+07,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 0 to 698
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               683 non-null    int64
 1   clump            683 non-null    int64
 2   cell_size        683 non-null    int64
 3   cell_shape       683 non-null    int64
 4   adhesion         683 non-null    int64
 5   epithlial        683 non-null    int64
 6   bare_nucleoli    683 non-null    int64
 7   chromatin        683 non-null    int64
 8   normal_nucleoli  683 non-null    int64
 9   mitoss           683 non-null    int64
 10  class            683 non-null    int64
dtypes: int64(11)
memory usage: 64.0 KB

In [33]:
# 설명 변수 X / 목적 변수 y 구분

X = df[['clump','cell_size','cell_shape','adhesion','epithlial',
              'bare_nucleoli','chromatin','normal_nucleoli','mitoss']]


y = df['class']

In [35]:
# 정규화 
from sklearn.preprocessing import StandardScaler
X = StandardScaler().fit(X).transform(X)


# 훈련 세트 / 데이터 셋트 분리 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25, random_state=10)

print('train data shape :', X_train.shape)
print('test data shap :', X_test.shape)

train data shape : (512, 9)
test data shap : (171, 9)

In [36]:
'''
# Decision Tree 분류 모형
# 구조 : 컴퓨터 알고리즘 사용하는 트리(tree) 구조를 사용
#     : 각 분기점(node)에는 분석대상의 속성 (설명 변수)들이 위치하고 , 해당 속성이 갖는 값을 이용하여 새로운 가지(branch)를 만드는 방식 
      : 각 분기점에서 최적의 속성을 선택 할 때는 해당 속성을 기준으로 분류한 값들이 구분되는 정도를 측정
      => 다른 종류의 값들이 섞여 있는 정도를 나타낼 때는 entropy를 주로 할용
      => 이 entropy가 낮을 수록 분류가 잘 되는 형태
      => entropy가 일정 수준 이하로 낮아질 때 까지 과정을 반복
'''

'\n# Decision Tree 분류 모형\n# 구조 : 컴퓨터 알고리즘 사용하는 트리(tree) 구조를 사용\n#     : 각 분기점(node)\n\n'

In [37]:
from sklearn.tree import DecisionTreeClassifier

# max_depth : 트리 레벨
# 레벨이 많아지면 정확해지지만 너무 많으면 과대적합 위험성 있음.
tree_model = DecisionTreeClassifier(criterion='entropy', max_depth=5)

tree_model.fit(X_train, y_train)

y_pred = tree_model.predict(X_test)

print(y_pred[:10])
print('--------------------')
print(y_test.values[:10])

[4 4 4 4 4 4 2 2 4 4]
--------------------
[4 4 4 4 4 4 2 2 4 4]

In [38]:
# 평가 
from sklearn import metrics

tree_matrix = metrics.confusion_matrix(y_test, y_pred)
tree_matrix

array([[106,   3],
       [  1,  61]], dtype=int64)

In [39]:
tree_report = metrics.classification_report(y_test, y_pred)
print(tree_report)

              precision    recall  f1-score   support

           2       0.99      0.97      0.98       109
           4       0.95      0.98      0.97        62

    accuracy                           0.98       171
   macro avg       0.97      0.98      0.97       171
weighted avg       0.98      0.98      0.98       171